$--color-purple-deep: #6949B8;
$--color-purple-main: #9477D9;
$--color-purple-light: #D1BFFF;
$--color-purple-white: #f7f3ff;
$--color-purple-highlight: #7948EA;
$--color-primary: #9477D9;
$--color-success: #49B8B4;
$--color-warning: #E6A23C;
$--color-danger: #F27B7B;
$--color-info: #81A5ED;

$--menu-height: 45px;